.bgGradient {
   background: #0445c7;
   background-image: url("../../../public/assets/footerBg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
}
